$primaryColor: #b8008a;
$lighterGrey: #c4c4c4;
$darkerGrey: #929292;
$darkerGreyTransparent: #92929290;
$darkerPrimary: #66004d;
$mesageColorSent: #00ca11;
$mesageColorRecieved: #0031b9;
$errorColor: #a50000;
$successColor: #00ca11;
$smallFontSize: 12px;
$mediumFontSize: 18px;
$largefontSize: 24px;
$massiveFontSize: 40px;
$mainFontFamily: 'Poppins';